.content-container {
	margin-top: 150px;
	@media screen and (max-width: 810px) {
		padding: 10px;
	}
	.header-text {
		font-size: 40px;
		font-family: "Gilroy-Bold", sans-serif;
	}
	.contact-container {
		margin-top: 20px;
		display: flex;
		gap: 30px;
		@media screen and (max-width: 800px) {
			flex-direction: column;
		}
		.form-container {
			flex: 2;
			padding: 40px 20px;
			border: 4px solid #ff03ed;
			.header-text {
				text-align: right;
				margin-bottom: 30px;
			}
			.states-container {
				position: relative;
			}
			.contact-form {
				display: flex;
				flex-direction: column;
				.form-flex {
					width: 100%;
					display: flex;
					gap: 20px;
					input {
						flex: 1;
					}
					@media only screen and (max-width: 500px) {
						flex-direction: column;
						gap: 0;
					}
				}

				.input {
					margin-bottom: 20px;
					padding: 14px;
					border: 4px solid #fff;
					background-color: transparent;
					color: white;
					outline: none;
					font-family: "Gilroy-Regular", sans-serif;
				}
				.select-input {
					color: gray;
				}

				select {
					height: 53px;
				}
				select option {
					background-color: #000000;
					color: #fff;
				}
				textarea {
					height: 150px;
					font-family: "Gilroy-Regular", sans-serif;
					font-weight: bolder;
				}
				button {
					width: 100%;
					padding: 16px;
					background-color: #ff03ed;
					color: white;
					outline: none;
					border: none;
					cursor: pointer;
					border-radius: 0px !important;
				}
				transition: opacity 1s;
				&.fade {
					opacity: 0;
				}
			}
			.loading-container {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba($color: #000000, $alpha: 0.7);
				display: none;
				.loader {
					border: 16px solid #f3f3f3;
					border-top: 16px solid #ff03ed;
					border-radius: 50%;
					width: 120px;
					height: 120px;
					animation: spin 2s linear infinite;
					margin: 0 auto;
				}

				@keyframes spin {
					0% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate(360deg);
					}
				}
			}
			.submit-container {
				display: none;
				p {
					margin-top: 20px;
					text-align: center;
				}
			}
		}
		.text-container {
			font-family: "Gilroy-Regular", sans-serif;
			flex: 1;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 30px;
			@media screen and (max-width: 650px) {
				@media screen and (max-width: 380px) {
					flex-direction: column;
				}
				flex-direction: row;
				width: 100%;

				.details-container {
					flex: 1;
				}
			}
			.header-text {
				font-size: 28px;
				font-family: "Gilroy-Regular", sans-serif;
			}
			.details-container {
				padding: 20px;
				border: 4px solid #ff03ed;
				ul {
					list-style: none;
					margin-top: 20px;
					padding-left: 10px;
					li {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
