/*FONTS */
@font-face{
  font-family: 'Gilroy-UltraLight';
  src: url('Fonts/Gilroy-UltraLight.ttf') format('truetype'),
  url('Fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Gilroy-Thin';
  src: url('Fonts/Gilroy-Thin.ttf') format('truetype'),
  url('Fonts/Gilroy-ThinItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Gilroy-Light';
  src: url('Fonts/Gilroy-Light.ttf') format('truetype'),
  url('Fonts/Gilroy-LightItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Gilroy-Regular';
  src: url('Fonts/Gilroy-Regular.ttf') format('truetype'),
  url('Fonts/Gilroy-RegularItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Gilroy-Regular';
  src: url('Fonts/Gilroy-Regular.ttf') format('truetype'),
  url('Fonts/Gilroy-RegularItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Gilroy-Medium';
  src: url('Fonts/Gilroy-Medium.ttf') format('truetype'),
  url('Fonts/Gilroy-MediumItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Gilroy-SemiBold';
  src: url('Fonts/Gilroy-SemiBold.ttf') format('truetype'),
  url('Fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Gilroy-Bold';
  src: url('Fonts/Gilroy-Bold.ttf') format('truetype'),
  url('Fonts/Gilroy-BoldItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Gilroy-ExtraBold';
  src: url('Fonts/Gilroy-Black.ttf') format('truetype'),
  url('Fonts/Gilroy-BlackItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Gilroy-ExtraBold';
  src: url('Fonts/Gilroy-ExtraBold.ttf') format('truetype'),
  url('Fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
}

/*GENERIC SETTINGS*/
#bg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(243,242,255);
  background: linear-gradient(180deg, rgba(243,242,255,1) 0%, rgba(231,236,248,1) 100%);
  transition: 0.8s;
}
h1{
  font-family: 'Gilroy-ExtraBold';
  font-size: 42px;
  z-index: 1000;
}
h2{
  font-family: 'Gilroy-ExtraBold';
  font-size: 32px;
}
p{
  font-family: 'Gilroy-UltraLight';
  font-weight: 100;
  font-size: 18px;
  line-height: 27px;
}
a{
  color: inherit;
  text-decoration:none;
}
.container{
  position: relative;
  width: 1000px;
  top: 180px;
  left: 50%;
  margin-left: -500px;
  display:inline-block;
}
.title{
  display: inline-block;
  width: 50%;
}
#std{
  width: 100%;
}
.image{
  display: inline-block;
  width: 300px;
  height: 300px;
}
.paragraph{
  width: 100%;
  display: inline-block;
}
#menu{
  position: absolute;
  width: 360px;
  top: 45%;
  left: 50%;
  margin-left: -180px;
  margin-top: -160px;
  display: None;
  font-family: 'Gilroy-ExtraBold';
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.menu-element{
  width: 100%;
  padding-top: 20px;
  padding-bottom:20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
#dataproviding{
  display: none;
}
.button{
  padding: 10px;
  background-color: #C746CB;
  color: white;
  font-family: 'Gilroy-Regular';
  border-radius: 6px;
  cursor: pointer;
}
.paragraph{
  width: 70%;
  margin-left: 15%;
  color: white;
  text-align: left;
  cursor: pointer;
}
.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #C746CB;
  z-index: 1000;
  transition: 1s;
}
.logo{
  position: absolute;
  top: 15px;
  height: 50px;
  width: 52px;
  left: 50%;
  margin-left: -26px;
  background-image: url('Graphics/Icons/logo.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.icon{
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-image: url("https://img.icons8.com/ios-filled/344/telegram-app.png");
}
.menu-button{
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 30px;
}
.menu-panel{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #C746CB;
  z-index: -1;
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 1px;
  background-color: white;
  margin: 10px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*HOME STYLES*/
#home{
  display: none;
}
#home-2{
  display: none;
  background-image: url('Graphics/Images/bg1.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}
#home-title{
  position: relative;
  display: inline-block;
  left: 0px;
  top: -70px;
  transition: 0.5s;
}
#menu-button{
  position: absolute;
  margin-top: 290px;
  padding: 10px;
  background-color: #C746CB;
  color: white;
  font-family: 'Gilroy-Regular';
  width: 70px;
  border-radius: 6px;
  cursor: pointer;
  top: 30px;
}
#home-image{
  position: relative;
  display: inline-block;
  height: 450px;
  width: 450px;
  right: 0px;
}


/*DATA PROVIDING STYLES*/
#back-dataproviding{
  position: fixed;
  padding: 20px;
  left: 30px;
  top: 30px;
  width: 50px;
}
#dataproviding-image{
  margin-top: -40px;
}

@media screen and (max-width: 1000px){
  .container{
    top: 100px;
    width: 80%;
    margin-left: 10%;
    left: 0;
  }
  #home-2{
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }
  h2{
    padding-left: 10%;
    padding-right: 10%;
  }
  p{
    padding-left: 10%;
    padding-right: 10%;
  }
  .title{
    width: 100%;
  }
  #home-title{
    top: 0px;
  }

  #home-image{
    width: 100%;
    height: 80%;;
  }
}
