@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
  background-color: black;
  overflow: hidden;
}
h1{
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  color: white;
}
p{
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  color: white;
}
header{
  position: fixed;
  width: 800px;
  height: 100px;
  top: 0;
  left: 50%;
  margin-left: -400px;
  border-bottom: 1px solid grey;
  background-color: black;
  z-index: 1000;
}
a{
  color: inherit;
  text-decoration: none;
}
.responsiveMenu{
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  border-bottom: 1px solid grey;
  background-color: black;
  z-index: 1000;
  display: none;
}
.responsiveLogo{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  top: 10px;
  background-image: url('../../Website/Wpps/logo.png');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.responsiveMenuBtn{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 25px;
  margin-left: 20px;
  top: 25px;
  color: white;
  font-family: 'Questrial', sans-serif;
}
.responsiveMenuFrame{
  position: fixed;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.95);
  z-index: 1000;
  display: none;
}
.responsiveMenuPanel{
  position: absolute;
  width: 250px;
  top: 120px;
  bottom: 0px;
  left: 50%;
  margin-left: -125px;
}
.responsiveMenuPanelBtn{
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.headerButton{
  position: relative;
  display: inline-block;
  width: 19.5%;
  height: 100%;
  text-align: center;
  vertical-align:text-top;
  line-height: 100px;
  color: grey;
  font-size: 15px;
  font-family: 'Questrial', sans-serif;
  cursor: pointer;
  transition-duration: 0.4s;
  z-index: 1000;
}
.dropMenu{
  position: absolute;
  top: 100%;
  margin-top: 1px;
  width: 100%;
  height: 0px;
  background-color: rgba(0,0,0,1);
  transition-duration: 0.4s;
  display: block;
  visibility: hidden;
  opacity: 0;
  border-bottom: 1px solid gray;
}
.menuBtn{
  display: inline-block;
  padding: 20px;
  font-family: 'Questrial', sans-serif;
  color: white;
  cursor: pointer;
}
#servicesMainBtn:hover ~ #serviceMenu{
  visibility: visible;
  height: 60px;
  opacity: 1;
}
#serviceMenu:hover{
  visibility: visible;
  height: 60px;
  opacity: 1;
}
#solutionsMainBtn:hover ~ #solutionsMenu{
  visibility: visible;
  height: 60px;
  opacity: 1;
}
#solutionsMenu:hover{
  visibility: visible;
  height: 60px;
  opacity: 1;
}
.headerButton:hover{
  color: white;
}
/*HOME DIVS*/
.homeFirstPanel{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
}
.homePanel{
  position: absolute;
  width: 500px;
  height: 500px;
  top: 40%;
  margin-top: -250px;
  left: 50%;
  margin-left: -250px;
}
.imgSlide{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url("Wpps/animation.gif");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.bottomPanel{
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  bottom: 0;
}
.switchPanelButton{
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
.homeSecondPanel{
  position: absolute;
  left: 0%;
  top: 100%;
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
  transition-delay: 0.4s;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scrollContainer{
  position: absolute;
  height: 100%;
  width: 700px;
  left: 50%;
  margin-left: -350px;
}
.iconsPanel{
  width: 100%;
  margin-left: 0px;
  font-size:0px;
}
.iconsSmall{
  width: 60px;
  height: 60px;
  position: relative;
  display: inline-block;
  margin: 30px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.iconsBig{
  width: 32%;
  height: 320px;
  border: 1px solid #FF03ED;
  position: relative;
  display: inline-block;
  margin: 3px;
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align:middle;
}
.mainImg{
  width: 100%;
  height: 60vh;
  position: relative;
  top: 100px;
  display: flex;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  align-items:center;
  justify-content:center;
}
.generalInfoDiv{
  display: inline-block;
  width: 100%;
  height: 300px;
  font-family: 'Questrial', sans-serif;
  color: white;
}
.textInfos{
  width: 35%;
  height: 100%;
  line-height: 40px;
  font-size: 15px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
.imgInfo{
  width: 64%;
  height: 100%;
  display: inline-block;
  margin: 0;
  border: 1px solid white;
}
.detailsDiv{
  display: inline-block;
  width: 100%;
  height: auto;
  line-height: 40px;
  font-size: 15px;
}
@media only screen and (max-width: 800px) {
  header {
    display: none;
  }
  .responsiveMenu{
    display: block;
  }
  .scrollContainer{
    width: 95%;
    left: 0%;
    margin-left: 5%;
  }
  .iconsBig{
    width: 80%;
    height: auto;
    background-size: 80%;
    background-image: url("");
    margin-bottom: 10px;
  }
  .homePanel{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 40%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
  }
  .generalInfoDiv{
    width: 95%;
  }
  .textInfos{
    width: 100%;
    height: auto;
    background-color: green;
    display: inline-block;
    margin: 0;
  }
  .imgInfo{
    width: 100%;
    background-color: blue;
    display: inline-block;
    margin: 0;
  }
}
@media only screen and (max-width: 400px) {
  .homePanel{
    position: absolute;
    width: 98%;
    height: 400px;
    top: 40%;
    left: 1%;
    margin-left: 0px;
  }
}
